@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css");
html, body{
    margin: 0;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfd;
}
h1{
    color: white;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0;
}
h2{
    font-size: 2em;
}
h3{
    color: white; 
    font-size: 1.5em;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
    width: 80vw;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
}
.home{
    font-family: 'Orbitron', sans-serif;
    border-bottom: 3px solid #0071e3;
}

.nav-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #30343a;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90vw;
}
.navlinks{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
}

nav li{
    margin: 7px;
}
nav a{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #0071e3;
}

.active{
    border-bottom: 3px solid #0071e3;
}

.splash{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?cs=srgb&dl=pexels-jakub-novacek-924824.jpg&fm=jpg');
    background-size: cover;
    width: 100vw;
    padding-bottom: 2em;

}
.stack-section{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fbfbfd;
    width: 80vw;
    padding-bottom: 2em;
}
/* .width{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fbfbfd;
    width: 80vw;
} */

.stack-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
}
.stack-icon{
    color: #000;
    font-size: 6em;
}
.about{
    max-width: 40vw;
    color: white;
    font-size: 1.5em;
}

.soc-icon{
   color: #0071e3;
}

.project-link{
    font-size: 1.2em;
    text-decoration: none;
    color: #0071e3;
    padding: 10px;
}

.project-grid{
    background-color: #fbfbfd;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow:1;
    width: 80vw;
    padding-bottom: 4em;
}

.project{
    background-color: #fbfbfd;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.proj-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-row{
    display: flex;
}


.proj-bullet{
    font-size: 1.3em;
    margin-bottom: 5px;
}

.project-img{
    height: 250px;
    width: 300px;
}

footer{
    padding: 2em;
    background-color: #30343a;
    width: 100vw;
    text-align: center;
}

@media (max-width:700px) {
    .navlinks{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 2em;
    }
    h3{
        font-size: 1.3em;
        margin-bottom: 5px;
    }
    nav a{
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    .stack-section{
        align-items: center;
    }
    .about{
        max-width: 80vw;
        font-size: 1.4em;
        text-align: center;
    }
    .col{
        align-items: center;
    }
    .proj-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .stack-icon{
        font-size: 3em;
    }
    .project-img{
        height: 150px;
        width: 200px;
    }
    .project-grid{
        flex-shrink: 2;
    }
    .project{
        width: 250px;
        align-items: center;
    }
    .proj-desc{
        font-size: .8em;
    }
    .proj-row{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* @media (max-width:500px) {
    .stack-icon{
        font-size: 4em;
    }

} */